<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ddnas.web.mapper.androidMapper">

	<resultMap type="userDTO" id="resultUserDTO">
		<id property="userCode" column="MEMBER_CODE"/>
        <result property="userName" column="MEMBER_NAME"/>
	</resultMap> 
	
	<resultMap type="workInfoDBDTO" id="resultWorkInfoDBDTO">
		<id property="timeWage" column="WORKER_TIMEWAGE"/>
        <result property="day" column="WORKRECORD_DAY"/>
        <result property="startHour" column="WORKRECORD_STARTHOUR"/>
        <result property="startMin" column="WORKRECORD_STARTMIN"/>
        <result property="endHour" column="WORKRECORD_ENDHOUR"/>
        <result property="endMin" column="WORKRECORD_ENDMIN"/>
	</resultMap>

	<select id="validate" parameterType="userDTO" resultType="int">
		SELECT COUNT(MEMBER_CODE) FROM MEMBER 
		WHERE MEMBER_ID=#{userId} AND MEMBER_PASSWORD=#{userPw} AND MEMBER_TYPE='worker'
	</select>
	
	<select id="login" parameterType="userDTO" resultMap="resultUserDTO">
		SELECT MEMBER_CODE, MEMBER_NAME FROM MEMBER 
		WHERE MEMBER_ID=#{userId} AND MEMBER_PASSWORD=#{userPw} AND MEMBER_TYPE='worker'
	</select>
	
	<update id="authenUser" parameterType="int">
		UPDATE MEMBER SET MEMBER_LOGSTATE=1 WHERE MEMBER_CODE=#{value}
	</update>
	
	<update id="authenDD" parameterType="java.util.Map">
		UPDATE DD SET WORKER_CODE=(SELECT WORKER_CODE FROM WORKER WHERE MEMBER_CODE=#{userCode}), DD_WORKSTATE=1 WHERE DD_CODE=#{ddCode}
	</update>
	
	<select id="checkWorkerRecord" parameterType="java.util.Map" resultType="int">
		SELECT  COUNT(WORKRECORD_CODE) FROM WORKRECORD
		WHERE WORKER_CODE=(SELECT WORKER_CODE FROM WORKER WHERE MEMBER_CODE=#{userCode}) AND WORKRECORD_DAY=#{today}
	</select>	
	
	<insert id="insertWorkerRecord" parameterType="java.util.Map">
		INSERT INTO WORKRECORD VALUES(WORKRECORD_SEQ.NEXTVAL, 
		(SELECT WORKER_CODE FROM WORKER WHERE MEMBER_CODE=#{userCode}), #{today},#{hour},#{minutes},'','')
	</insert>	
	
	<update id="logout" parameterType="int">
		UPDATE MEMBER SET MEMBER_LOGSTATE=0 WHERE MEMBER_CODE=#{value}
	</update>
	
	<select id="workInfo" parameterType="java.util.Map" resultMap="resultWorkInfoDBDTO">	
		SELECT WORKER_TIMEWAGE ,WORKRECORD_DAY, WORKRECORD_STARTHOUR, WORKRECORD_STARTMIN,WORKRECORD_ENDHOUR,WORKRECORD_ENDMIN FROM WORKRECORD R
		JOIN WORKER W ON R.WORKER_CODE=W.WORKER_CODE WHERE W.MEMBER_CODE=#{userCode} AND WORKRECORD_ENDHOUR IS NOT NULL AND R.WORKRECORD_DAY LIKE #{month}||'%' ORDER BY R.WORKRECORD_DAY ASC 
	</select>
	
	<insert id="insertWorkState" parameterType="java.util.Map" >
		INSERT INTO WORKSTATE VALUES(WORKSTATE_SEQ.NEXTVAL, (SELECT WORKER_CODE FROM WORKER WHERE MEMBER_CODE=#{userCode}),#{coDensity},SYSDATE)
	</insert>
	
</mapper>